<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <log4net>
        <!--
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
        -->

        <appender name="CustomHttpAppender" type="Log4net.Http.Appender.HttpBufferedAppender, Log4net.Http.Appender">
            <HttpEndpoint>http://localhost:30000/DEV/ESP/Log4NetExample</HttpEndpoint>
            <ErrorMaxRetries>10</ErrorMaxRetries>
            <ErrorSleepTime>00:00:00.200</ErrorSleepTime>
            <BatchMaxSize>100</BatchMaxSize>
            <BatchSleepTime>00:00:00.200</BatchSleepTime>
        </appender>

        <root>
            <level value="ALL" />
            <appender-ref ref="ConsoleAppender" />
            <appender-ref ref="CustomHttpAppender" />
        </root>
    </log4net>
</configuration>
